* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #89c15e;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.score-board {
  border: 0.2rem solid whitesmoke;
  color: #FFFFFF;
  width: 90vw;
  max-width: 50rem;
  padding: 1.2vw;
  border-radius: 1.2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  gap: 2vw;
}

.content {
  font-family: "Roboto";
  font-weight: 550;
  font-size: 2vw;
  flex: 1;
}

.comp, .your {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1rem;
  color: #656565;
  background-color: whitesmoke;
  text-align: center;
  flex: 1; 
  min-width: 0; 
  border-radius: 9px;
  padding: 0.3vw;
}

.zero {
  color: black;
  font-size: 4vw;
}
