* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #89c15e;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-board {
  border: 0.2rem solid whitesmoke;
  color: #ffffff;
  width: 90vw;
  max-width: 50rem;
  padding: 1.2vw;
  border-radius: 1.2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  gap: 2vw;
}

.content {
  font-family: "Roboto";
  font-weight: 550;
  font-size: 2vw;
  flex: 1;
}

.comp,
.your {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.2vmax;
  color: #656565;
  background-color: whitesmoke;
  text-align: center;
  flex: 1;
  min-width: 0;
  border-radius: 9px;
  padding: 0.3vw;
}

.zero {
  color: black;
  font-size: 4vw;
}

.gameplay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#rock {
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  margin-left: -210px;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}

#paper {
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  margin-top: 210px;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}

#scissors {
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  margin-left: 200px;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}

.triangle {
  width: 20em;
  height: 20em;
  border: 1em solid #000000a3;
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%) rotate(-135deg);
  border-right: none;
  border-bottom: none;
}

 .triangle::before {
  position: absolute;
  content: "";
  border-top: 1em solid #000000a3;
  width: calc(1.31 * (19.5em + 2em));
  transform: rotate(135deg);
  left: -4.9em;
  top: 8.6em;
}

/* Results Page */
.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 7rem;
  place-items: center;
  grid-template-areas: 
    "you-title pc-title"
    "you-picked pc-picked";
  max-width: 800px;
  margin: 0 auto;
}

.results_heading {
  font-size: 1.2vmax; /* Slightly smaller font size */
  letter-spacing: 0.1rem;
  color: whitesmoke;
  padding-top: 10rem; /* Adjust margin as needed */
}

.results_result {
  position: relative;
  width: 10rem; /* Adjust as needed */
  height: 10rem; /* Adjust as needed */
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  z-index: 1; /* Ensure it's above the ripples */
}

.results_result img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.results_result.winner::before,
.results_result.winner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 12px solid #27911e63;
  width: 100%;
  height: 100%;
  transform: scale(1);
  animation: ripple 4s infinite;
}

.results_result.winner::after {
  animation-delay: 1s; 
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1.1;
  }
 
  50% {
    transform:scale(0.9); 
    opacity: 0.6;
  }

  100% {
    transform: scale(1.1); 
    opacity: 0.3;
  } 
}

.results_heading:first-of-type {
  grid-area: you-title;
}

.results_heading:last-of-type {
  grid-area: pc-title;
}

.results_result:first-of-type {
  grid-area: you-picked;
}

.results_result:last-of-type {
  grid-area: pc-picked;
}

.results.show-winner{
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    "you-title . pc-title"
    "you-picked result-winner pc-picked";
}

.results_winner{
  grid-area: result-winner;
  display: grid;
  place-items: center;
}

.results_text .against-pc{
  font-size: 0.6em;
}

.results_text{
  font-size: 2.1rem;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 20px;
  color: whitesmoke ;
}

.play-again{
  background: #FFFFFF;
  outline: none;
  text-align: center;
  white-space: nowrap;
  border: 2px solid transparent;
  border-radius: 0.6rem;
  color:#656565 ;
  padding: 0.6rem 1rem;
  font-weight: 600;
  text-transform: inherit;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.hidden{
  display: none;
}

/* Rules Box */

.rules-button {
  background-color: #d9d9d900;
  color: white;
  border: 2px solid white;
  font-size: 21px;
  font-weight: 600;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.rules-container {
  bottom: 100px;
  right: 30px;
  position: absolute;
  width: 22%;
  height: 53%;
  box-sizing: border-box;
  z-index: 10;
}

.rules {
  position: absolute;
  background-color: #004429;
  border: 7px solid white;
  width: 80%;
  height: 81%;
  border-radius: 13px;
  left: 0;
  bottom: 0;
  color: white;
  transform-origin: bottom right;
  transform: scale(0);
  transition: 0.3s;
}

.rules h1 {
  text-align: center;
  font-size: 29px;
  font-weight: 500;
}

.rules ul {
  list-style: none;
  padding: 0 10px;
  font-size: 13px;
}
.rules li {
  position: relative;
  padding-left: 25px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.rules li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #FFD600;
  transform: translateY(-50%);
  border: 1px;
  position: absolute;
  left: 5px;
  top: 20px;
}

.close-button{
  display:none;
    font-family: 'Dangrek', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    color: #fff;
    border: 4px solid white;
    background-color: red;
    padding: 4px 12px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 50px;
  transition: 0.3s;
}


