* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body-container {
    background-color: #89c15e;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  
  .score-board {
    border: 3px solid whitesmoke;
    color: #FFFFFF;
    width: 50rem;
    height: 9.9rem;
    border-radius: 1.2rem;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
  }

  .score{
    flex:0.55;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
  }

  .content{
    flex:1;
    flex-grow: 1;
    font-family: "Roboto";
    font-weight: 550;
    font-size: 2rem;
    padding: 0 1rem;
  }

  .comp,.your{
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.1rem;
    color: #656565;
    background-color: whitesmoke;
    text-align: center;
    width: 140px;
    border-radius: 9px;
    height: 130px;
    padding-top: 7px;
  }

.zero{
    color: black;
    font-size: 68px;
}
  