* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #89c15e;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-board {
  border: 0.2rem solid whitesmoke;
  color: #ffffff;
  width: 90vw;
  max-width: 50rem;
  padding: 1.2vw;
  border-radius: 1.2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  gap: 2vw;
}

.content {
  font-family: "Roboto";
  font-weight: 550;
  font-size: 2vw;
  flex: 1;
}

.comp,
.your {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.2vmax;
  color: #656565;
  background-color: whitesmoke;
  text-align: center;
  flex: 1;
  min-width: 0;
  border-radius: 9px;
  padding: 0.3vw;
}

.zero {
  color: black;
  font-size: 4vw;
}

.gameplay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

#rock {
  background-color: #ffffff;
  border-radius: 60%;
  border: 12px solid #0074b6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  margin-left: -210px;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}

#paper {
  background-color: #ffffff;
  border-radius: 60%;
  border: 12px solid #ffa943;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  margin-top: 210px;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}

#scissors {
  background-color: #ffffff;
  border-radius: 60%;
  border: 12px solid #bd00ff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  margin: auto;
  margin-left: 200px;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}

.triangle {
  width: 20em;
  height: 20em;
  border: 1em solid #000000a3;
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%) rotate(-135deg);
  border-right: none;
  border-bottom: none;
}

 .triangle::before {
  position: absolute;
  content: "";
  border-top: 1em solid #000000a3;
  width: calc(1.31 * (19.5em + 2em));
  transform: rotate(135deg);
  left: -4.9em;
  top: 8.6em;
}

.rules-button {
  background-color: #d9d9d900;
  color: white;
  border: 2px solid white;
  font-size: 21px;
  font-weight: 600;
  border-radius: 10px;
  height: 40px;
  width: 120px;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.rules-container {
  bottom: 100px;
  right: 30px;
  position: absolute;
  width: 22%;
  height: 53%;
  box-sizing: border-box;
  z-index: 10;
}

.rules {
  position: absolute;
  background-color: #004429;
  border: 7px solid white;
  width: 80%;
  height: 81%;
  border-radius: 13px;
  left: 0;
  bottom: 0;
  color: white;
  transform-origin: bottom right;
  transform: scale(0);
  transition: 0.3s;
}

.rules h1 {
  text-align: center;
  font-size: 29px;
  font-weight: 500;
}

.rules ul {
  list-style: none;
  padding: 0 10px;
  font-size: 13px;
}
.rules li {
  position: relative;
  padding-left: 25px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.rules li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #FFD600;
  transform: translateY(-50%);
  border: 1px;
  position: absolute;
  left: 5px;
  top: 20px;
}

.close-button{
  display:none;
    font-family: 'Dangrek', sans-serif;
    font-size: xx-large;
    font-weight: 600;
    color: #fff;
    border: 4px solid white;
    background-color: red;
    padding: 4px 12px;
    border-radius: 50%;
    position: absolute;
    right: 50px;
    top: 50px;
  transition: 0.3s;
}