* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #89c15e;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-board {
  border: 0.2rem solid whitesmoke;
  color: #FFFFFF;
  width: 90vw;
  max-width: 50rem;
  padding: 1.2vw;
  border-radius: 1.2rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  gap: 2vw;
}

.content {
  font-family: "Roboto";
  font-weight: 550;
  font-size: 2vw;
  flex: 1;
}

.comp, .your {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.2vmax;
  color: #656565;
  background-color: whitesmoke;
  text-align: center;
  flex: 1; 
  min-width: 0; 
  border-radius: 9px;
  padding: 0.3vw;
}

.zero {
  color: black;
  font-size: 4vw;
}

.gameplay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative; 
}

#rock {
  background-color: #FFFFFF;
  border-radius: 60%;
  border: 12px solid #0074B6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  margin: auto;
  margin-left: -210px;
  transform: translate(-50%, -50%); 
  width: 8rem; 
  height: 8rem;
}

#paper {
  background-color: #FFFFFF;
  border-radius: 60%;
  border: 12px solid #FFA943;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  margin: auto;
  margin-top:210px ;
  transform: translate(-50%, -50%); 
  width: 8rem; 
  height: 8rem;
}

#scissors {
  background-color: #FFFFFF;
  border-radius: 60%;
  border: 12px solid #BD00FF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  margin: auto;
  margin-left:200px;
  transform: translate(-50%, -50%); 
  width: 8rem; 
  height: 8rem;
}

.triangle {
  width: 20em;
  height: 20em;
  border: 1em solid #000000A3;
  position: absolute;
  margin: auto;
  transform: translate(-50%, -50%) rotate(-135deg);
  border-right: none;
  border-bottom: none;
}

.triangle::before {
  position: absolute;
  content: "";
  border-top: 1em solid #000000A3;
  width: calc(1.31 * (19.5em + 2em));
  transform: rotate(135deg);
  left: -4.9em;
  top: 8.6em;
}
